
*{
    box-sizing: border-box;
    font-family: 'Akshar', sans-serif;
}
.header{
    
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    z-index: 50;
}
.position{
    display: flex;
   width: 50%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;


}
.logo{
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    width: 25%;
    padding: 15px ;
    justify-content: center;
    
}
.logo img{
    width: 50px ;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    height: 60%;
    margin-right: 10px;
}
.logo h2{
    text-align: center;
    font-size: 35px;
}
.headerMenu ul{
    display: flex;
}
.headerMenu ul li {
    margin: 15px;
    text-decoration: none;
    list-style: none;
}
.headerMenu ul li:hover {
 color: burlywood;
}
.searchBar{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 30px;
    background-color: white;
    
}
.searchBar:hover{
    border-bottom: solid 3px burlywood;
}
.searchBar img{
    width: 15px;
    height: 15px;
}
.searchBar input{
    border: none;
    outline: none;
    height: 30px;
    font-size: 15px;
    color: black;
    margin-left: 5px;
    max-width: 100px;
}
.searchBar input:hover{
   border : 2px; 
}
.socialBut{
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-left: 10px;
    
}
.headerBurger{
    display: none;
}
.socialBut1{
    display: none;
}
@media (max-width:768px){
    .headerBurger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 2;
        position: absolute;
        right: 40px;
        top: 30px;
        z-index: 51;
    }
    .headerBurger span{
        position: absolute;
        background-color:burlywood;
        width: 100%;
        height: 2px;
        top: 9px;
    }
    .headerBurger::before,
    .headerBurger::after{
        content: '';
        background-color:burlywood;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .headerBurger::before{
        top: 0;
    }
    .headerBurger::after{
        bottom: 0;
    }
    .headerMenu{
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 70px;
        transform: translate(+100%);
        z-index: 50;
    }
    .headerMenu ul{
        display: block;
    }
    .headerMenu ul li{
     margin: 0px 0px 30px 0px;
    }
    .headerMenu.active {
        transform: translate(0);
    }
    .header{
        margin: 0px 30px 0px 30px;
    }
    .logo{
        width: 100%;
    }
    .searchBar{
        width:100% ;
        justify-content: center;
        
    }
    .position{
        width: 100%;
    }
    .socialBut{
        display: none;
        
    }
    .socialBut1{
        display: block;
    }
}
.nav-link {
    color: burlywood;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}
.menu-link  {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}
.menu-link:hover{
    color: burlywood;
}